*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    
}

.container {
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #800000;
	font-family: "Cinzel", serif;
    font-size: 70px;
}

.fff{
    color: #ffffff;
	font-family: "Cinzel", serif;
    font-size: 40px;
}
.question {
    margin-bottom: 20px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-family: "Cinzel", serif;
    color: #ffffff;
    font-size: 20px;
}

.qqq{
    color: #ffffff;
	font-family: "Cinzel", serif;
    font-size: 20px;
}

.sub{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: #9a0000;
    border: none;
    cursor: pointer;
    font-family: "Dancing Script", serif;
    font-size: 30px;
}

.btn{
    display: flex;
    justify-content: center;
}

@media(min-width:320px) and (max-width:1440px) {
    h1 {
        text-align: center;
        color: #800000;
        font-family: "Cinzel", serif;
        font-size: 20px;
    }
    .fff{
        color: #ffffff;
        font-family: "Cinzel", serif;
        font-size: 20px;
    }
    .result {
        margin-top: 20px;
        font-weight: bold;
        font-family: "Cinzel", serif;
        color: #ffffff;
        font-size: 10px;
    }
}